<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
layout:decorate="~{layouts/main}">
<head>
<title>Accueil</title>
</head>
<body>
    <div class="container">
        <!-- Afficher les notifications -->
        <div id="notification" th:replace="~{main :: notification}"></div>
        
        <div layout:fragment="content">
            <h2>Projet Réservations - Accueil</h2>
            <p>Bienvenue sur le système de gestion des réservations.</p>
        </div>
    </div>
</body>
</html>