<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Accueil</title>
</head>
<body>
    <div class="container">
        <div layout:fragment="content">
            <h1>Bienvenue sur le Projet Réservations</h1>
            <p>Application Spring Boot 3.4.1 avec Thymeleaf</p>
            <ul>
                <li>Java 21</li>
                <li>Spring Boot 3.4.1</li>
                <li>MySQL 8</li>
                <li>Maven</li>
            </ul>
        </div>
    </div>
</body>
</html>