<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Fiche d'un artiste</title>
</head>
<body>
    <div class="container">
        <div layout:fragment="content">
            <h1 th:text="|${artist.firstname} ${artist.lastname}|">Bob Sull</h1>
            
            <dl>
                <dt>ID</dt>
                <dd th:text="${artist.id}">1</dd>
                
                <dt>Prénom</dt>
                <dd th:text="${artist.firstname}">Bob</dd>
                
                <dt>Nom</dt>
                <dd th:text="${artist.lastname}">Sull</dd>
            </dl>
            
            <nav>
                <a th:href="@{/artists}">Retour à la liste</a>
            </nav>
        </div>
    </div>
    <div class="actions">
        <a th:href="@{/artists/{id}/edit(id=${artist.id})}">Modifier</a>
    </div>
</body>
</html>